// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.ivy_card_type{
    text-transform: uppercase;
    font-size: 1.5rem;
}

#dashboard_actions{
    border-left: 4px solid rgb(190, 189, 189);
    height: calc(100vh - 300px);
}